---
import { getCollection } from 'astro:content';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/BaseLayout.astro';

const topics = await Astro.glob('../pages/video/*.astro');
const sortedTopics = topics
  .map(t => ({ url: t.url, ...(t as any).frontmatter }))
  .sort((a, b) => a.order - b.order);

---

<Layout></Layout>
<body>
    <Header />
    <main class="container">
        <h2 data-i18n="video.title">📺视频专题</h2>
        <p data-i18n="video.subtitle">探索我的视频节目</p>
        <div class="album-grid">
          {
             sortedTopics.map(topic => (
         
            <a class="album-card" href={topic.url}>
              <img src={topic.cover} alt={topic.title} />
              <div class="album-info">
                <h3>{topic.title}</h3>
                <p>{topic.description}</p>
              </div>
            </a>
        
        ))
      }
         </div>
        </main>
    <Footer/>
  <script src="../../public/locales/lang.js"></script>
</body>
